@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Gulzar&family=Vazirmatn:wght@100..900&display=swap");

@layer base {
  :root {
    --font-family: "Gulzar", "Vazirmatn", "serif";
    --font-size: 4.5mm;
    --box-sizing: border-box;
  }
}
#app {
  @apply min-h-screen min-w-screen;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.05;
  background: url("./assets/images/logo.png");
  background-color: rgb(255, 255, 255);
  background-size: 250px;
  transform: rotate(-8deg) scale(1.35);
  animation: slide 30s linear infinite;
  pointer-events: none;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100vh 100vh;
  }
}

.header {
  @apply flex items-center justify-between bg-neutral-400 text-sm font-semibold px-4;
}

#header-elements {
  @apply flex items-center flex-row p-2;
}
.header-logo {
  @apply w-16 h-10;
}

#header-elements:nth-child(3) {
  @apply gap-3;
}

#header-elements button {
  @apply border border-gray-500 cursor-pointer p-1 rounded-sm;

  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

#header-elements button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  @apply min-w-screen;
}

.user-cards {
  @apply mx-3 mt-6 p-4 h-[80vh] flex flex-wrap flex-row justify-center gap-4;
}

.user-card {
  width: calc((100% / var(--cards-per-row)) - 32px);
  min-width: 300px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .user-card {
    width: 100%;
  }
}
